/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Kelly Slab', cursive;
	color: #333;
	font-size: 0.9em; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear { clear: both; }


/**** App related styles ***********/
#page { max-width: 960px; margin: 50px auto 20px;}
h1 { text-align: center; font-size: 2em; margin: 10px 0; color: #3498db; }
p { font-size: 0.9em; margin: 5px 0; text-align: center;  }
.formWrapper { margin: 25px 0; padding: 10px; background: #f4f4f4; }
.error { background: rgb(253, 172, 186); border:1px dashed #ee1821; padding: 10px; margin-bottom: 10px; }
.success { background: rgb(191, 243, 167); border: 1px dashed #2ecc71; padding: 10px;  margin-bottom: 10px; }
.otherTab { background: #F7FDB0;; border: 1px dashed #C9A101; padding: 10px;  margin-bottom: 10px; }

.elementWrapper { margin: 0 0 15px 0; }
.btnWrapper { text-align: center; margin-bottom: 5px;}
.btn { border:none; background: #3498db; color: #fff; text-shadow: 1px 1px #000; padding: 5px 15px; margin: 0; }
#favcolor, #favcolor::-webkit-color-swatch-wrapper { padding: 0; }
#favcolor { width: 150px; box-shadow: 0 0 0 3px #B2D1FF; display: inline-block; margin-left: 10px; }
#favcolor::-webkit-color-swatch { background: #fff; }

.addJsonInStorage {  margin-top: 25px; }
.addJsonInStorage label { display: block; margin-bottom: 10px; }
.inpCls { border: 1px solid #3498db; padding: 5px; width: 140px; }

figcaption { margin: 10px 0; }
.figureWrapper { text-align: center; margin: 40px 0 0; }
figure { display: inline-block; margin-left: 40px;}
figure:first-child { margin-left: 0; }